---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---



<!--* Contributed talk, 25th Asian Quantum Information Science Conference (AQIS) @ The University of HongKong (HKU), HongKong, China. Aug. 3-Aug. 9, 2025    
* Invited talk, The 2025 Maritime Silk Road International Conference on the Cooperation and Integration of Industry, Education, Research, and Application
(MSRIC) @ South China Normal University, Guangzhou, China. Nov. 15- Nov. 17, 2025  
* Invited talk, International Network for Acausal Quantum Technology @ University of Vienna, Vienna, Austria. Nov. 4- Nov. 6, 2024  
* Poster, 24th Asian Quantum Information Science Conference (AQIS) @ Hokkaido University, Sapporo, Japan. Aug. 26-Aug. 30, 2024  -->

<!--
<ul style="list-style-type: disc; margin-left: 20px;">
  <li style="margin-bottom: 12px;">
    Contributed talk, <i>25th Asian Quantum Information Science Conference (AQIS)</i> @ The University of Hong Kong (HKU), Hong Kong, China. 08/2025
  </li>
  
  <li style="margin-bottom: 12px;">
    Invited talk, <i>The 2025 Maritime Silk Road International Conference on the Cooperation and Integration of Industry, Education, Research, and Application (MSRIC)</i>
    @ South China Normal University, Guangzhou, China. 11/2025
  </li>
  
  <li style="margin-bottom: 12px;">
    Invited talk, <i>International Network for Acausal Quantum Technology</i> @ University of Vienna, Vienna, Austria. 11/2024
  </li>

  <li style="margin-bottom: 12px;">
    Poster, <i>Vienna Quantum Foundations Conference 2024 (VQF)</i> @ IQOQI, Vienna, Austria. 09/2024
  </li>
  
  <li style="margin-bottom: 12px;">
    Poster, <i>24th Asian Quantum Information Science Conference (AQIS)</i> @ Hokkaido University, Sapporo, Japan. 08/2024
  </li>
  
  <li style="margin-bottom: 12px;">
    Poster, <i>19th Asian Quantum Information Science Conference (AQIS)</i> @ KIAS, Seoul, Korea. 08/2019
  </li>
</ul>

<br>

<h2 style="border-bottom: 1px solid #eee; padding-bottom: 10px;">Presentations by Group Members</h2>

<ul style="list-style-type: disc; margin-left: 20px;">
  <li style="margin-bottom: 12px;">
    <strong>Carla Richter</strong>, short talk, <em>Optica Quantum 2.0 Conference and Exhibition</em> @ San Francisco, USA. 06/2025
  </li>
  
  <li style="margin-bottom: 12px;">
    <strong>Mariana Schmid</strong>, short talk, <em>Optica Quantum 2.0 Conference and Exhibition</em> @ Rotterdam, Netherlands. 07/2024
  </li>

</ul>
-->

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

